[project]
	description = Clone of Sourceforge FLEX at git://git.code.sf.net/p/flex/flex flex-flex
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Timur Safin (tsafin)
[access "refs/for/refs/*"]
	read = group user/Timur Safin (tsafin)
	push = group user/Timur Safin (tsafin)
	label-Code-Review = -2..+2 group user/Timur Safin (tsafin)
	label-Verified = -1..+1 group user/Timur Safin (tsafin)
	rebase = group user/Timur Safin (tsafin)
	removeReviewer = group user/Timur Safin (tsafin)
	submit = group user/Timur Safin (tsafin)
[access "refs/heads/*"]
	read = group user/Timur Safin (tsafin)
	create = group user/Timur Safin (tsafin)
	push = +force group user/Timur Safin (tsafin)
	pushMerge = group user/Timur Safin (tsafin)
[access "refs/tags/*"]
	push = +force group user/Timur Safin (tsafin)
	pushTag = group user/Timur Safin (tsafin)
	pushSignedTag = group user/Timur Safin (tsafin)
